@import "~bootstrap/scss/bootstrap.scss";

.bigdiv{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    text-align:center;
}
.header{
    color: blue;
    padding-top:45px
}
.ul{
    list-style-type: none;
    
}

.button{
  transition-duration: 0.4s;
  
}

.button:hover {
  background-color: #1889d4; 
  color: white;
  
}