@import "~bootstrap/scss/bootstrap.scss";

.bigdiv{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    text-align:center;
}
.header{
    color: blue;
    padding-top:45px
}
.ul{
    list-style-type: none
    
}
